/* products-nav */

.products-nav-right{
    position: relative;
    &::before{
        position: absolute;
        content: "";
        width: .5rem;
        height: 6.5rem;
        right: -2rem;
        top: 1rem;
        border-radius: .5rem;
        transform: rotate(8deg);
        background-color: $primary;
    }
    &__first-text{
        font-size: 3rem;
        font-weight: 800;
    }
    &__second-text{
        font-size: 2rem;
        font-weight: 600;
        color: $gray-color;
    }
}

.products-nav-left{
    font-weight: bold;
    font-size: 1.8rem;
    border-radius: .5rem;
    padding-right: 1.5rem;
    padding-left: .5rem;
    background-color: $primary;
    color: $light;
    transition: $transition;
    cursor: pointer;
}

.bi-arrow-left-short{
    font-size: 2.75rem;
    font-weight: bold;
    margin-top: .5rem;
}
