/*

===============

    cousere-info

===============

*/

.course-info{
    margin-top: 5rem;
    &-right{
    
        &__title{
            font-weight: $font-weight;
        }
        &__subtitle{
            margin-top: 2rem;
            text-align: justify;
            text-justify: inter-word;
            font-size: 1.8rem;
        }
        &-links{
            margin-top: 2rem;
        }
        &__link{
            font-size: 3rem;
        }
    }
    &-left__video{
        width: 100%;
        border-radius: $border-radius-1;
    }
}

/*

===============

    main-boxes

===============

*/

.main{
    margin-top: 10rem;
    &-box{
        box-shadow: $box-shadow;
        padding: .5rem 2rem .5rem 0;
        border-radius: $border-radius-1;
        &-right{
        
        }
        &__icon{
            font-size: 4rem;
            color: $primary;
        }
        &-left{
            margin-right: 1.5rem;
        }
        &__title{
            font-size: 1.9rem;
        }
        &__subtitle{
        
        }
    }
}


/*

===============

    main-progress

===============

*/

.main-progress{
    margin-top: 5rem;
    background-color: $gray-light-color;
    border-radius: $border-radius-1;
    padding: 2rem;
    &-top{
    
    }
    &__icon{
        font-size: 2rem;
        color: $gray-color;
    }
    &__title{
        margin-right: 1.5rem;
        font-weight: $font-weight;
    }
    .progress{
        margin-top: 1rem;
        &-bar{
            background-color: $primary;
        }
    }
}

/*

===============

    main-introduction

===============

*/

.main-introduction{
    box-shadow: $box-shadow;
    border-radius: $border-radius-1;
    margin-top: 5rem;
    padding: 4rem;
    .introduction-item{
    
        &_title{
            font-weight: $font-weight;
            position: relative;
            &::before{
                position: absolute;
                content: "";
                width: .4rem;
                height: 4rem;
                background-color: $primary;
                border-radius: $border-radius-1;
                right: -1rem;
                top: -.5rem;
                transform: rotate(8deg);
            }
        }
        &__img{
            margin-top: 3rem;
            width: 100%;
            border-radius: $border-radius-1;
        }
        .introduction-item__text{
            margin-top: 1rem;
            text-align: justify;
            text-justify: inter-word;
        }
    }
    .introduction-btns{
        margin-top: 3rem;
    }
    .introduction-btn{
        color: $primary;
        border: .2rem solid $primary;
        border-radius: .5rem;
        padding: 1rem;
        font-weight: $font-weight;
        &:hover{
            color: $light;
            background-color: $primary;
            border: .2rem solid $light;
        }
    }
}

/*

===============

    accordion

===============

*/

.accordion{
    margin-top: 5rem;
    &-item{
    
    }
    &-header{
    }
    &-button{
        font-size: 1.8rem;
        font-weight: $font-weight;
        color: $dark;
        position: relative;

        &::after{
            position: absolute;
            left: 1rem;
        }

        &.collapsed{
            position: relative;
            &::after{
                position: absolute;
                left: 1rem;
            }
        }

    }
    &-body__num{
        font-size: 2rem;
        font-weight: $font-weight;
        color: $dark;
        border: .2rem solid $dark;
        border-radius: 50%;
        padding: .5rem 1rem .1rem;
    }
    &-icon{
        font-size: 2.5rem;
        margin: 0 1.5rem;
    }
    &__text{
        margin-right: 2rem;
        font-weight: $font-weight;
        cursor: pointer;
    }
    &-left{
        font-weight: $font-weight;
        color: $dark;
    }
}


/*

===============

    main-teacher

===============

*/


.main-teacher{
    margin-top: 2rem;
    box-shadow: $box-shadow;
    border-radius: $border-radius-1;
    padding: 2rem;
}
.teacher-top{

    &-right{
    
        .teacher-right__img{
            width: 10rem; height: 10rem;
            background-image: url("../images/images.jpg");
            border-radius: 50%;
            background-size: contain;
            background-repeat: no-repeat;
        }
        &-details{
        
        }
    }
    .teacher__title{
        font-size: 1.8rem;
        font-weight: $font-weight;
        color: $dark;
    }
    .teacher__subtitle{
        color: $gray-color;
    }
    .teacher-top-left{
    
        &-icon-box{
            background-color: $primary;
            color: $light;
            font-weight: $font-weight;
            font-size: 2rem;
            padding: .5rem 1rem;
            border-radius: .5rem;
        }
    }
}
.teacher-icon{
    font-size: 2rem;
}
.teacher-text{
    margin-top: 1rem;
    margin-right:2rem;
}


/* courses-infos */
.courses-infos{
    position: sticky;
    top: 2rem;
}
.course-detail , .course-rate , .short-link , .main-topic , .course-products{
    box-shadow: $box-shadow;
    border-radius: .5rem ;
    padding: 1.5rem;
}

/*

===============

    main-teacher

===============

*/

.course-register{
    background-color: $primary;
    text-align: center;
    color: $light;
    font-weight: $font-weight;
    font-size: 1.8rem;
    border-radius: .5rem;
    padding: .5rem;
    &__icon{
        font-size: 2.5rem;
    }
}

/*

===============

    course-rate

===============

*/
.course-rate{
    margin-top: 2rem;
    padding: 2rem;
    &-top{
        border: .1rem solid $gray-color;
        border-radius: .5rem;
        text-align: center;
        padding: .75rem .5rem;
        &__icon{
            font-size: 2.5rem;
        }
        &__text{
            margin: 0 .5rem;
            font-weight: $font-weight;
        }
    }
    &__students-num{
        background-color: rgb(26, 32, 58);
        color: $light;
        padding: .2rem .75rem;
        border-radius: .2rem;
    }
    &-bottom{
        margin-top: 1.5rem;
        &-right{
            font-weight: $font-weight;
            position: relative;
            &::before{
                position: absolute;
                top: .75rem;
                right: 13.4rem;
                content: "";
                background-color: $gray-color;
                height: 2.5rem;
                width: .3rem;
                border-radius: .2rem;
            }
        }
        &__icons{
            font-size: 2.5rem;
            margin-left: .5rem;
            position: relative;
            top: .2rem;
        }
        &__left{
            font-weight: $font-weight;
        }
    }
}


/*

===============

    short-link

===============

*/

.short-link{
    margin-top: 2rem;
    &-top{
        font-weight: $font-weight;
        cursor: pointer;
        font-size: 1.8rem;
    }
    &__icon{
        font-size: 2.5rem;
        position: relative;
        top: .25rem;
    }
    &__url{
        margin-top: .5rem;
        border: .1rem solid $gray-color;
        border-radius: .5rem;
        padding: .5rem 1rem;
    }
}

/*

===============

    short-link

===============

*/

.main-topic{
    margin-top: 2rem;
    &__title{
        font-weight: $font-weight;
    }
    &__subtitle{
        display: inline-block;
        margin-top: .5rem;
    }
    &__link{
        color: $secondary;
    
    }
}

