$primary-font : "IRANSans";
$primary : #2bce56;
$light : #fff;
$dark : #464749;

$gray-color : #7f8187;
$gray-light-color : #f0f2f7;

$secondary : #1e83f0;
$transition : all 400ms ;
$box-shadow: 0 0 1rem rgba(0,0,0,.12);
$border-radius-1 : 1rem ;
$border-radius-nim : .5rem ;
$font-weight : bold ;