@import "./reset";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";
@import "./variables";
@import "./fonts";
@import "./Navbar/navbar";
@import "./topHeader/top-header";

/*

====================

    Default Style
    
====================

*/

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  line-height: 1.6;
  font-size: 1.6rem;
}

*,
*::before,
*::after {
  outline: none;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: $dark;
  transition: all 0.2s ease;

  &:hover {
    color: $secondary;
  }
}

i {
  user-select: none;
}

li{
  list-style-type: none;
}
