/*

===============

    custom-reset

===============

*/

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: $primary-font;
    direction: rtl;
}

* , 
*::before,
*::after{
    outline: none;
    box-sizing: inherit;
}

a{
    text-decoration: none;
    color: $dark;
    transition: all .4s ease;
}

a:hover{
    color: $secondary;
}

i{
    user-select: none;
}